.container
{
	width:100%;
	border:1px solid grey;
}
header
{
   padding:5em;
   color:white;
   background-color:grey;
   clear:left;
   text-align:center;
}
footer

{
	padding:5em;
	color:white;
	background-color:#080808;
	text-align:center;
	position:relative;
	top:830px;
}
nav
{
	float:left;
	max-width:300px;
	margin:0;
	padding:2em;
}
.pDes
{
	position:absolute;
	left:530px;
	top:220px;
}
ul {
	position:relative;
	top:50px;
	left:250px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
 a:active
{
	background-color:#480000;
}
@media only screen and {min-width:150px}and {max-width:600px}
{
	.container
{
	width:50%;
	border:1px solid grey;
}
	.mob2{
 position:absolute; top:499px; left:615px; margin:30px; background-color:#ff944d; border-width:thick; border-style:solid; border-color:white;   height:250px; width:50%;
	}
}
.pDes
{
	position:absolute;
	left:530px;
	top:220px;
}

	.mob2{
 position:absolute; top:499px; left:615px; margin:30px; background-color:#ff944d; border-width:thick; border-style:solid; border-color:white;   height:250px; width:30%;
	}
